# =========================================================
# IGNORAR BASICO DE PYTHON Y DIRECTORIOS
# =========================================================
# Archivos de Python
__pycache__/
*.pyc
*.pyo
*~
*.swp
*.bak

# Entornos Virtuales
.venv/
venv/
env/
/bin/
/lib/
/include/

# IDE/Editor (VS Code, Nano, etc.)
.vscode/
.idea/
.DS_Store

# =========================================================
# IGNORAR LOGS, TEMPORALES Y FASTAPI
# =========================================================

app_logs.log
*.log

checkpoints/
*.tf/
*.data-00000-of-00001
*.index
saved_model.pb
tensorboard/
tfjs-model/

# =========================================================
# IGNORAR MODELOS Y DATOS GRANDES
# =========================================================

/models/

*.h5
*.keras
*.pkl
*.csv
*.xlsx
*.pkl

.env