# Archivos de Python
__pycache__/
*.pyc

# Entorno Virtual
.venv/

# Modelos y Datos Grandes (CORRECCIÓN DE RUTA)
models/best_model.h5
models/best_model.keras
models/scaler_X.pkl
models/scaler_y.pkl
models/secuencias_quantity_on_hand.pkl
models/*.csv
models/*.xlsx
models/*.pkl

# Archivos de Entorno (Claves secretas)
.env